.DS_Store
/node_modules/

# React Router
/.react-router/
/typecheck/
/build/
/extensions/
/sample/

# WXT
/.wxt/
/.output/
/dev/

# Playwright / E2E
/coverage/
/playwright-report/
/test-results/
/.nyc_output/
